# Data types in Python

1. Basics data types:
- int : integer.
- float : decimal number.
- str : text.

In [5]:
age = 36

In [2]:
type(age)

int

In [ ]:
heigth = 1.76

In [6]:
type(heigth)

float

In [ ]:
name = "Nathaly"

In [4]:
type(name)

str

2. Sequence types:
- List = editable ordered collection.
- Tuple = immutable ordered collection.
- Dictionaries = store data values in key: value pairs.

In [7]:
fruit = ["banana", "apple", "cherry"]

In [8]:
type(fruit)

list

In [9]:
coordinates = (10, 20)

In [10]:
type(coordinates)

tuple

In [ ]:
personal_data = {
    "name": "Nathaly",
    "age": 36,
    "heigth": 1.75
}

In [13]:
type(personal_data)

dict