In [25]:
import pandas as pd
import numpy as np

# Data types in Python

1. Basics data types:
- int : integer.
- float : decimal number.
- str : text.

In [26]:
age = 36

In [27]:
type(age)

int

In [28]:
heigth = 1.76

In [29]:
type(heigth)

float

In [30]:
name = "Nathaly"

In [31]:
type(name)

str

2. Sequence types:
- List = editable ordered collection.
- Tuple = immutable ordered collection.
- Dictionaries = store data values in key: value pairs.

In [32]:
fruit = ["banana", "apple", "cherry"]

In [33]:
type(fruit)

list

In [34]:
coordinates = (10, 20)

In [35]:
type(coordinates)

tuple

In [36]:
personal_data = {
    "name": "Nathaly",
    "age": 36,
    "heigth": 1.75
}

In [37]:
type(personal_data)

dict

## Create a dataframe from a list of dictionaries

In [38]:
my_family = [
    {"name": "Nathaly", "age": 36}, 
    {"name": "Victoria", "age": 2}, 
    {"name": "Dany", "age": 39}, 
]

df_family = pd.DataFrame(my_family)

In [39]:
df_family

       name  age
0   Nathaly   36
1  Victoria    2
2      Dany   39

## Python booleans

Represent one of two values: true or false.

In [40]:
example_boolean = True

In [41]:
type(example_boolean)

bool

## Numpy library for numerical data

In [45]:
numerical_data = np.array([2, 4, 45, 89]).mean()

In [46]:
print(f"\nThe mean of the array is: {numerical_data}")

The mean of the array is: 35.0

# Review of list methods

In [49]:
list = ["Nathaly", "Victoria", "Liliana"]

In [50]:
### Add new element
list.append("Izel")

In [53]:
### List after adding a new item
print("List after adding a new item:", list)

List after adding a new item: ['Nathaly', 'Victoria', 'Liliana', 'Izel']